*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.wrapper{
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: lightcoral;
    border: none;
    border-radius: 4px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}
.btn-create, .btn-edit, .btn-delete{
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.todo-item-list{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.todo-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    background-color: rgb(163, 219, 232);
    border: none;
    border-radius: 10px;
    padding: 20px 15px;
    margin: 12px;
    box-shadow: 2px 1px 3px 1px gray;
}
.todo-item:hover{
    border: 1px solid white;
    margin: 11px;
}
.todo-item.complete{
    /* background-color: grey; */
    filter: brightness(0.5);
}
.todo-item.complete .text{
    text-decoration: line-through;
}


.todo-item .text{
    flex: 1;
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    line-height: 24px;
    font-size: 16px;
}
.item-buttons{
    display: flex;
    justify-content: space-between;
    align-items: auto;
}
.btn-edit, .btn-delete{
    width: scale(0.5);
    text-decoration: none;
    color: whitesmoke
}